[submodule "gitit"]
	path = gitit
	url = aur@aur.archlinux.org:gitit
[submodule "fresco"]
	path = fresco
	url = aur@aur.archlinux.org:fresco
[submodule "lpp"]
	path = lpp
	url = aur@aur.archlinux.org:lpp
[submodule "slatec"]
	path = slatec
	url = aur@aur.archlinux.org:slatec
[submodule "slatec-git"]
	path = slatec-git
	url = aur@aur.archlinux.org:slatec-git
[submodule "ttf-oxygen-gf"]
	path = ttf-oxygen-gf
	url = aur@aur.archlinux.org:ttf-oxygen-gf
[submodule "ttf-share-gf"]
	path = ttf-share-gf
	url = aur@aur.archlinux.org:ttf-share-gf
